
<article class="post">
  <header class="post-header home">
    <div class="post-title">HomePage</div>
  </header>

  <div class="post-content">
    <h2>Profile</h2>
    <ul>
      <li><a href="/about/">Home</a></li>
      <li><a href="/links/">Links</a></li>
    </ul>

    <h2>Academic</h2>
    <ul>
      <li><a href="/publications/">Publications</a></li>
      <li><a href="/patents/">Patents</a></li>
      <li><a href="/service/">Services</a></li>
      <li><a href="/awards/">Awards</a></li>
    </ul>

    <h2>Recent News</h2>
    <ul>
      <li>Three patents are entered the substantive examination phase at the <em>CNIPA</em> (September 23).</li>
      <li>One paper is resubmitted to <em>Pattern Recognition</em> after a major revision (initially submitted May 25; resubmitted September 07).</li>
      <li>One paper (co-author) is accepted by <em>WISA 2025</em> (August 15).</li>
      <li>One paper is under review at <em>Information Sciences</em> (April 02).</li>
      <li>One paper is accepted by <em>ICME 2025</em> (March 21).</li>
    </ul>

  </div>
</article>
