
<article class="post">
  <header class="post-header home">
    <div class="post-title">HomePage</div>
  </header>

  <div class="post-content">
    <h2>Profile</h2>
    <ul>
      <li><a href="/about/">Home</a></li>
      <li><a href="/links/">Links</a></li>
    </ul>

    <h2>Academic</h2>
    <ul>
      <li><a href="/publications/">Publications</a></li>
      <li><a href="/service/">Services</a></li>
      <li><a href="/awards/">Awards</a></li>
    </ul>

    <h2>Recent News</h2>
    <ul>
      <li>One paper (co-author) is accepted to <em>WISA 2025</em>.</li>
      <li>One paper is under review to <em>Pattern Recognition</em>.</li>
      <li>One paper is under review to <em>Information Science</em>.</li>
      <li>One paper is accepted to <em>ICME 2025</em>.</li>
    </ul>

  </div>
</article>
