
<article class="post">
  <header class="post-header home">
    <div class="post-title">HomePage</div>
  </header>

  <div class="post-content">
    <h2>Profile</h2>
    <ul>
      <li><a href="/about/">Home</a></li>
      <li><a href="/links/">Links</a></li>
    </ul>

    <h2>Academic</h2>
    <ul>
      <li><a href="/publications/">Publications</a></li>
      <li><a href="/patents/">Patents</a></li>
      <li><a href="/service/">Services</a></li>
      <li><a href="/awards/">Awards</a></li>
    </ul>

    <h2>Recent News</h2>
    <ul>
      <li>One paper is accepted by <em>Pattern Recognition</em> (October 08). The final version is available via DOI: https://doi.org/10.1016/j.patcog.2025.112591, or for 50 days' free access via this Share Link: https://authors.elsevier.com/a/1m40D77nKsBm- (valid until December 28, 2025).</li>
      <li>Two patents (co-inventor) are entered the substantive examination phase at the <em>CNIPA</em> (October 09).</li>
      <li>Three patents are entered the substantive examination phase at the <em>CNIPA</em> (September 23).</li>
      <li>One paper (co-author) is accepted by <em>WISA 2025</em> (August 15).</li>
    </ul>

  </div>
</article>
