<div class="sidebar-item sidebar-header">
	<div class='sidebar-brand'>
		<a href="/about/">{{ site.title }}</a>
	</div>
	<p class="lead">{{ site.description }}</p>
</div>

<div class="sidebar-item sidebar-nav">
	<ul class="nav">
	  <li class="nav-title" style="font-size:1.3em;font-weight:bold;">Profile</li>
	  <li>
		<a class="nav-item" href="/about/">Home</a>
	  </li>
	  <li>
		<a class="nav-item" href="/links/">Links</a>
	  </li>
	</ul>
</div>

<div class="sidebar-item sidebar-nav">
	<ul class="nav">
	  <li class="nav-title" style="font-size:1.1em;font-weight:bold;">Academic</li>
	  <li>
		<a class="nav-item" href="/publications/">Publications</a>
	  </li>
	  <li>
		<a class="nav-item" href="/service/">Services</a>
	  </li>
	  <li>
		<a class="nav-item" href="/awards/">Awards</a>
	  </li>
	</ul>
</div>
